@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sorts+Mill+Goudy:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 265 89% 66%; /* Updated to violet-500 */
        --primary-foreground: 210 40% 98%;

        --secondary: 226 70% 55.5%; /* Updated to indigo-500 */
        --secondary-foreground: 210 40% 98%;

        --muted: 265 20% 96%;
        --muted-foreground: 265 10% 45%;

        --accent: 265 40% 96%;
        --accent-foreground: 265 70% 30%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 265 30% 90%;
        --input: 265 30% 90%;
        --ring: 265 89% 66%; /* Matching primary (violet) */
        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 265 89% 66%; /* Updated to violet-500 */
        --primary-foreground: 210 40% 98%;

        --secondary: 226 70% 55.5%; /* Updated to indigo-500 */
        --secondary-foreground: 210 40% 98%;

        --muted: 265 25% 20%;
        --muted-foreground: 265 20% 70%;

        --accent: 265 25% 20%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 265 25% 20%;
        --input: 265 25% 20%;
        --ring: 265 89% 66%; /* Matching primary (violet) */
    }
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: hsl(var(--foreground));
    background-color: hsl(var(--background));
}
